.freeshipping-container {
  border: 2px solid orangered;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  cursor: pointer;
}
.freeshipping {
  display: flex;
  font-size: x-large;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.freeshipping > i {
  font-size: xx-large;
}
.freeshipping-price {
  font-size: x-large;

  font-weight: 600;
}
